/* for all body  */
*{
    margin: 0;
    padding: 0;
}
/* nav part  */
.nav-one{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.874); 
    padding: 10px;
    align-items: center;
}

.menu-items{
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu-items a{
    text-decoration: none;
    color: white;
}

.menu-items a:hover{
    color: red;
}

.menu-ttl{
    color: white;
      
}

/* banner section style main  */

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 93vh;
    color: white;
    /* border: 2px solid gray; */
    align-items: center;
    background-image: url(./images/background.png),
    linear-gradient(45deg,#080808e4,#000);
}

.banner-ttl{
    font-size: 55px;
    font-weight: bold;
}
.banner-des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 2px;
}

.btn:hover{
    color: black;
    background-color: white;
}
/* about style  */
.about-ttl{
   display: flex;
   justify-content: center;
   margin-top: 35px;
   margin-bottom: 25px;
   font-size: 55px;
   font-weight: bold;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .about-ttll{

 }

 .about-btn{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
 }


 /* our services style  */

 .services-container{
    display: flex;
    justify-content: space-around;
 }

 .box{
    height: 260px;
    width: 250px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    color: white;
   text-align: center;
   padding: 25px;
    
 }

 .services-img{
    width: 70px;
 }

 .services-ttl{
    margin-top: 12px;
    margin-bottom: 12px;
 }

 .services-para{
    margin-top: 12px;
    margin-bottom: 12px;
 }

 .services-btn{
    color: white;
    background-color: gray;
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
 }